/* #region bg img */
.bg-company {
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover !important;
}

/* #endregion */

/* #region background color */
//white & black
.bg-white {
  background-color: $color-white !important;
}

.bg-black {
  background-color: $color-black !important;
}

.bg-dark {
  background-color: $color-dark !important;
  color: $color-white !important;
}

//red
.bg-red {
  background-color: $color-red !important;
}

.bg-light-red {
  background-color: $color-light-red !important;
}

.bg-dark-red {
  background-color: $color-dark-red !important;
}

//pink
.bg-pink {
  background-color: $color-pink !important;
}

.bg-light-pink {
  background-color: $color-light-pink !important;
}

.bg-dark-pink {
  background-color: $color-dark-pink !important;
}

//orange
.bg-orange {
  background-color: $color-orange !important;
}

.bg-light-orange {
  background-color: $color-light-orange !important;
}

.bg-dark-orange {
  background-color: $color-dark-orange !important;
}

//yellow
.bg-yellow {
  background-color: $color-yellow !important;
}

.bg-light-yellow {
  background-color: $color-light-yellow !important;
}

.bg-dark-yellow {
  background-color: $color-dark-yellow !important;
}

//green
.bg-green {
  background-color: $color-green !important;
}

.bg-light-green {
  background-color: $color-light-green !important;
}

.bg-dark-green {
  background-color: $color-dark-green !important;
}

//blue
.bg-blue {
  background-color: $color-blue !important;
}

.bg-light-blue {
  background-color: $color-light-blue !important;
}

.bg-dark-blue {
  background-color: $color-dark-blue !important;
}

//gray 
.bg-gray {
  background-color: $color-gray !important;
}

.bg-light-gray {
  background-color: $color-light-gray !important;
}

.bg-dark-gray {
  background-color: $color-dark-gray !important;
}

/* #endregion */

/* #region bg opacity */
.bg-opacity-5 {
  --bs-bg-opacity: 0.05 !important;
}

.bg-opacity-10 {
  --bs-bg-opacity: 0.10 !important;
}

.bg-opacity-15 {
  --bs-bg-opacity: 0.15 !important;
}

.bg-opacity-20 {
  --bs-bg-opacity: 0.20 !important;
}

.bg-opacity-25 {
  --bs-bg-opacity: 0.25 !important;
}

.bg-opacity-30 {
  --bs-bg-opacity: 0.30 !important;
}

.bg-opacity-35 {
  --bs-bg-opacity: 0.35 !important;
}

.bg-opacity-40 {
  --bs-bg-opacity: 0.40 !important;
}

.bg-opacity-45 {
  --bs-bg-opacity: 0.45 !important;
}

.bg-opacity-50 {
  --bs-bg-opacity: 0.50 !important;
}

.bg-opacity-55 {
  --bs-bg-opacity: 0.55 !important;
}

.bg-opacity-60 {
  --bs-bg-opacity: 0.60 !important;
}

.bg-opacity-65 {
  --bs-bg-opacity: 0.65 !important;
}

.bg-opacity-70 {
  --bs-bg-opacity: 0.70 !important;
}

.bg-opacity-75 {
  --bs-bg-opacity: 0.75 !important;
}

.bg-opacity-80 {
  --bs-bg-opacity: 0.80 !important;
}

.bg-opacity-85 {
  --bs-bg-opacity: 0.85 !important;
}

.bg-opacity-90 {
  --bs-bg-opacity: 0.90 !important;
}

.bg-opacity-95 {
  --bs-bg-opacity: 0.95 !important;
}

.bg-opacity-100 {
  --bs-bg-opacity: 1.00 !important;
}

/* #region */