/* #region rounded */
.rounded-top-start-0 {
  border-top-left-radius: 0 !important;
}

.rounded-top-end-0 {
  border-top-right-radius: 0 !important;
}

.rounded-bottom-start-0 {
  border-bottom-left-radius: 0 !important;
}

.rounded-bottom-end-0 {
  border-bottom-right-radius: 0 !important;
}

/* #endregion */

/* #region border color */
//white & black
.border-white {
  border-color: $color-white !important;
}

.border-black {
  border-color: $color-black !important;
}

.border-dark {
  border-color: $color-dark !important;
}

//red
.border-red {
  border-color: $color-red !important;
}

.border-light-red {
  border-color: $color-light-red !important;
}

.border-dark-red {
  border-color: $color-dark-red !important;
}

//pink
.border-pink {
  border-color: $color-pink !important;
}

.border-light-pink {
  border-color: $color-light-pink !important;
}

.border-dark-pink {
  border-color: $color-dark-pink !important;
}

//orange
.border-orange {
  border-color: $color-orange !important;
}

.border-light-orange {
  border-color: $color-light-orange !important;
}

.border-dark-orange {
  border-color: $color-dark-orange !important;
}

//yellow
.border-yellow {
  border-color: $color-yellow !important;
}

.border-light-yellow {
  border-color: $color-light-yellow !important;
}

.border-dark-yellow {
  border-color: $color-dark-yellow !important;
}

//green
.border-green {
  border-color: $color-green !important;
}

.border-light-green {
  border-color: $color-light-green !important;
}

.border-dark-green {
  border-color: $color-dark-green !important;
}

//blue
.border-blue {
  border-color: $color-blue !important;
}

.border-light-blue {
  border-color: $color-light-blue !important;
}

.border-dark-blue {
  border-color: $color-dark-blue !important;
}

//gray
.border-gray {
  border-color: $color-gray !important;
}

.border-light-gray {
  border-color: $color-light-gray !important;
}

.border-dark-gray {
  border-color: $color-dark-gray !important;
}

/* #endregion */