/* white & black */
$color-white: #ffffff;
$color-black: #000000;
$color-dark: #181818;

/* red */
$color-red: #ff0000;
$color-light-red: #f4d5d5;
$color-dark-red: #8b0000;

/* pink */
$color-pink: #FF1493;
$color-light-pink: #FFC0CB;
$color-dark-pink: #C71585;

/* orange */
$color-orange: #FF8C00;
$color-light-orange: #f0e2b1;
$color-dark-orange: #FF4500;

/* yellow */
$color-yellow: #FFFF00;
$color-light-yellow: #ffffe0;
$color-dark-yellow: #FFD700;

/* green */
$color-green: #008000;
$color-light-green: #ccf1cf;
$color-dark-green: #006400;

/* blue */
$color-blue: #00539b;
$color-light-blue: #ADD8E6;
$color-dark-blue: #002060;

/* gray */
$color-gray : #808080;
$color-dark-gray: #3f3f3f;
$color-light-gray: #f4f4f4;
